:root {
	--pink: hsl(322, 100%, 66%);
	--light-pink: hsl(321, 100%, 78%);
	--light-red: hsl(0, 100%, 63%);
	--very-dark-cyan: hsl(192, 100%, 9%);
	--very-pale-blue: hsl(207, 100%, 98%);
	--poppins-font: 'Poppins', sans-serif;
	--open-sans-font: 'Open Sans', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	font-size: 0.938rem;
	font-family: var(--open-sans-font);
}

h1,
h2,
h3,
h4 {
	font-family: var(--poppins-font);
	font-weight: 700;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* The Challenge Provide a Breakpoint at 375px for mobile
I prefer 768 and below for mobile-tablet and above for desktop
I can add more precise breakpoints but this is just a practice */
/* @media screen and (min-width: 768px) {
	.cards-container {
		flex-direction: row;
		margin: 4rem 2rem;
	}
}
@media screen and (min-width: 1024px) {
	.cards-container {
		flex-direction: row;
		margin: 4rem 10rem;
	}
} */
