:root {
	--pink: hsl(322, 100%, 66%);
	--light-pink: hsl(321, 100%, 78%);
	--light-red: hsl(0, 100%, 63%);
	--very-dark-cyan: hsl(192, 100%, 9%);
	--very-pale-blue: hsl(207, 100%, 98%);
	--poppins-font: 'Poppins', sans-serif;
	--open-sans-font: 'Open Sans', sans-serif;
}

body {
	font-size: 0.938rem;
	font-family: var(--open-sans-font);
	margin-top: 2rem;
	margin: 2rem 0 0 0; /* Not margin-top because there´re default margins I want to set to 0 */
}

h1,
h2,
h3,
h4 {
	font-family: var(--poppins-font);
	font-weight: 700;
}

img {
	width: 100%;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 1.5rem 10rem 1.5rem;
}
header img {
	width: 9rem;
}
header a {
	text-decoration: none;
	color: var(--pink);
	border: 1px solid var(--pink);
	border-radius: 2rem;
	padding: 0.4rem 1.5rem;
	text-transform: capitalize;
	-webkit-box-shadow: 0px 0px 6px -2px var(--pink);
	box-shadow: 0px 0px 6px -2px var(--pink);
}
header a:hover {
	cursor: pointer;
}

.build-community-section {
	text-align: center;
	margin: 0 2.5rem 10rem 2.5rem;
}
.build-community-section h1 {
	font-size: 2.18rem;
	text-transform: capitalize;
}
.build-community-section p {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 2rem;
	margin-bottom: 5.2rem;
}
.build-community-section a {
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	color: var(--very-pale-blue);
	background-color: var(--pink);
	border: 1px solid transparent;
	border-radius: 2rem;
	padding: 1.1rem 4rem;
	text-transform: capitalize;
	-webkit-box-shadow: 0px 0px 9px -2px var(--pink);
	box-shadow: 0px 0px 9px -2px var(--pink);
	transition: all 0.3s ease-in;
}
.build-community-section a:hover {
	cursor: pointer;
	background-color: var(--light-pink);
	-webkit-box-shadow: 0px 0px 9px -2px var(--light-pink);
	box-shadow: 0px 0px 9px -2px var(--light-pink);
}

.screen-mockups-img {
	width: 85%;
	margin: 0 2.5rem 10rem 2.5rem;
}

.stats-section {
	display: flex;
	flex-direction: column;
	height: 87vh;
	align-items: center;
	justify-content: space-between;
	margin: 0 2.5rem;
}
.stats-section div {
	display: flex;
	flex-direction: column;
	width: 15rem;
}
.stats-section div img {
	width: 2.75rem;
}
.stats-section div span {
	font-size: 5.5rem;
	font-weight: 700;
}
.stats-section div p {
	font-size: 1.3rem;
	font-weight: 600;
	text-transform: capitalize;
	text-align: center;
	opacity: 40%;
}

.info-section {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.info-section div {
	padding: 0 2.5rem;
}
.info-section div img {
	width: 85%;
	padding: 5.2rem 0;
}
.info-section div h3 {
	text-transform: capitalize;
	font-size: 1.8rem;
	font-weight: 700;
}
.info-section div p {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 2rem;
	padding-bottom: 6rem;
}
.info-1 {
	background-color: #f6fbff;
}
.info-2 {
	padding-top: 5.2rem !important;
}
.info-3 {
	background-color: #f6fbff;
}

.ready-to-build-section {
	text-align: center;
	margin: 5.2rem 2.5rem 20rem 2.5rem;
}
.ready-to-build-section h2 {
	font-size: 2.18rem;
	text-transform: capitalize;
	line-height: 3rem;
	margin-bottom: 5.2rem;
}
.ready-to-build-section a {
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	color: var(--very-pale-blue);
	background-color: var(--pink);
	border: 1px solid transparent;
	border-radius: 2rem;
	padding: 1.1rem 4rem;
	text-transform: capitalize;
	-webkit-box-shadow: 0px 0px 9px -2px var(--pink);
	box-shadow: 0px 0px 9px -2px var(--pink);
	transition: all 0.3s ease-in;
}
.ready-to-build-section a:hover {
	cursor: pointer;
	background-color: var(--light-pink);
	-webkit-box-shadow: 0px 0px 9px -2px var(--light-pink);
	box-shadow: 0px 0px 9px -2px var(--light-pink);
}

.footer-container {
	margin-top: -1rem;
	padding: 0 2.5rem;
	padding-top: 6rem;
	background-color: var(--very-dark-cyan);
	color: var(--very-pale-blue);
}

.newsletter {
	display: flex;
	flex-direction: column;
	margin-bottom: 9rem;
}
.newsletter h2 {
	margin-top: 0;
	font-size: 1.8rem;
	font-weight: lighter;
	text-transform: uppercase;
}
.newsletter p {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 2rem;
	margin-bottom: 2.65rem;
}
.newsletter input {
	width: 100%;
	height: 4rem;
	border: 1px solid transparent;
	border-radius: 0.75rem;
	margin-bottom: 1.5rem;
	padding: 0;
}
.newsletter button {
	width: 50%;
	height: 4.4rem;
	font-size: 1.4rem;
	font-weight: 600;
	font-family: var(--open-sans-font);
	color: var(--very-pale-blue);
	background-color: var(--pink);
	border: 1px solid transparent;
	border-radius: 0.5rem;
	text-transform: capitalize;
	transition: all 0.3s ease-in;
	align-self: flex-end;
}
.newsletter button:hover {
	cursor: pointer;
	background-color: var(--light-pink);
	-webkit-box-shadow: 0px 0px 9px -2px var(--light-pink);
	box-shadow: 0px 0px 9px -2px var(--light-pink);
}

/* .footer-info {
}
.footer-info img {
	mix-blend-mode: darken;
}
.footer-info p {
} */

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* The Challenge Provide a Breakpoint at 375px for mobile
I prefer 768 and below for mobile-tablet and above for desktop
I can add more precise breakpoints but this is just a practice */
/* @media screen and (min-width: 768px) {
	.cards-container {
		flex-direction: row;
		margin: 4rem 2rem;
	}
}
@media screen and (min-width: 1024px) {
	.cards-container {
		flex-direction: row;
		margin: 4rem 10rem;
	}
} */
